@page "/"
@using MessagingClient.Services
@inject IAuthenticationService _authenticationService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudSpacer />
<MudButton OnClick="@((e) => _authenticationService.LoginAsync("username", "password"))">Login</MudButton>
<MudButton OnClick="@((e) => _authenticationService.LogoutAsync())">Logout</MudButton>